*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
    color: white;
}
body{
    /*background-image: url("../images/bg.webp");*/
    /*background-size: 100% auto;*/
    background-color: #282C33;
}
button{
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #C778DD;
    width: max-content;
    cursor: pointer;
    transition: all .2s ease;
}
@media (hover: hover) {
    button:hover{
        background-color: rgba(199, 120, 221, 0.2);
    }
}
.main{
    margin-top: -85px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.px16{
    font-size: 16px;
}
.px32{
    font-size: 32px;
}
.bold{
    font-weight: bold;
}
.purple{
    color: #C778DD;
}
.gray{
    color: #ABB2BF;
}
