.contacts-line{
    position: fixed;
    top: 0;
    display: grid;
    place-items: center;
    row-gap: 8px;
    z-index: 1;
}
.contact_line{
    display: block;
    width: 1px;
    height: 190px;
    background-color: #C778DD;
}
.contacts-line_img{
    width: 32px;
    opacity: 0.65;
    transition: opacity .3s ease;
}
@media (hover: hover) {
    .contacts-line_img:hover{
        opacity: 1;
    }
}
