.container{
    width: calc(1920px - 720px);
    margin: 0 auto;
    position: relative;
}
@media(max-width: 1200px){
    .container{
        width: calc(100% - 144px);
    }
}
@media(max-width: 1024px){
    .container{
        width: calc(100% - 40px);
    }
}
@media (max-width: 768px) {
    .container{
        width: calc(100% - 160px);
    }
}
@media (max-width: 550px) {
    .container{
        width: calc(100% - 40px);
    }
}
@supports (-webkit-touch-callout: none) {
    .container-suctom-bg{
        background-attachment: scroll;
    }
}
