.skills-block{
    padding: 48px 0;
    display: grid;
    row-gap: 12px;
}
.skills-block_head{
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.skills-block_head-hr{
    width: 30%;
    height: 2px;
    background-color: #C778DD;
    border: 0;
}
.skills-block_body{
    display: grid;
    column-gap: 60px;
    grid-template-columns: 1fr 2fr;
}
.skills-block_body-img{
    width: 100%;
}
.skills-block_body-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    height: fit-content;
    grid-template-areas: "a b c" ". d e";
}
.skills-block_item{
    border: 1px solid #ABB2BF;
}
.skills-block_item-head{
    border-bottom: 1px solid #ABB2BF;
    padding: 8px;
}
.skills-block_item-body{
    padding: 8px;
}
.skills-block_item:nth-child(1){
    grid-area: a;
}
.skills-block_item:nth-child(2){
    grid-area: b;
}
.skills-block_item:nth-child(3){
    grid-area: c;
}
.skills-block_item:nth-child(4){
    grid-area: d;
}
.skills-block_item:nth-child(5){
    grid-area: e;
}
